h1 {
    color: rgb(185, 37, 37);
  }
  body {
    background-color: rgb(0, 0, 0);
  }

  #yamaha {
    background-color: rgb(255, 0, 0);
  }

  #ninja{
    background-color: rgb(255, 0, 0);

  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(255, 0, 0);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(255, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: rgb(0, 0, 0);
  }